.header {
    background: var(--grey-8);
    padding: 16px 0;
}


.header__title {
    font-family: var(--alternate-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    font-style: normal;
    color: var(--grey-4);
    padding-top: 48px;
    padding-bottom: 69px;
    margin: 0;
}

/* .header_inner {
    background: var(--grey-5);
} */

.header__logo {
    text-align: center;
    
}

@media screen and (min-width: 768px) {
    .header {
        background-color: var(--grey-7);
        padding: 24px 0;
    }

    .header__logo {
        text-align: left;
    }

    .header__title {
        padding-top: 40px;
        padding-bottom: 53px;
        font-weight: 500;
        font-size: 50px;
        line-height: 64px;
        color: var(--black);
    }
}