.card {
  display: flex;
  flex-direction: column-reverse;
  width: 350px;
  height: 367px;
  box-sizing: border-box;
  background: var(--white);
  box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  padding: 32px 25px 30px;
}

.card__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #212429;
  margin: 0;
}