.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page__inner {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.page__main {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 56px;
    padding: 36px 0;
}

.page_bg-grey {
    background-color: var(--grey-7);
}