.form-group {
    display: flex;
}

.form-group__label {
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.form-group__caption {
    font-family: var(--alternate-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.form-group__inner {
    position: relative;
}

.form-group__input {
    background: #FFFFFF;
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    padding: 17px 40px 13px 24px;
    font-family: var(--alternate-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
}

.form-group__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translate(0, -50%);
}

.form-group__input::placeholder {
    color: var(--grey-2);
}

.form-group__input:focus {
    border-color: var(--blue);
}

.form-group__input_success ~ .form-group__icon {
    color: var(--blue);
}

.form-group__input_success:focus ~ .form-group__icon {
    display: none;
}

.form-group__input_error {
    border-color: var(--red);
}
.form-group__input_error ~ .form-group__icon {
    color: var(--red);
}

.form-group__input_error:focus ~ .form-group__icon {
    display: none;
}